<section>

    <!--landing image-->
    <div class="container container-2">

        <div class="row">

            <div class="bg-image div-1 col-12">
                <a class="top-content" href="#">BUILD IT</a>
                <p class="top-subcontent"> BUILD YOUR DREAM HOME</p>
            </div>

            <!--landing image end-->
            <hr>
            <!--contractor activities-->

            <div class="container">

                <div class="row" style="margin: 20px;">
                    <div class="col-lg-3 col-md-6 col-sm-12 ">
                        <div class="card">
                            <div class="card-body" style="margin-top: 10px;">
                                <a href="/cindex/indexReq" class="stretched-link " ;
                                    style="text-decoration: none; color: rgba(239, 151, 47, 1);;">
                                    <h3 class="card-title" style="text-align: center;">Request </h3>
                                    <p class="card-text"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body" style="margin-top: 10px;">
                                <a href="/cindex/indexaddworker" class="stretched-link " ;
                                    style="text-decoration: none; color: rgba(239, 151, 47, 1);;">
                                    <h3 class="card-title" style="text-align: center;">View Worker </h3>
                                    <p class="card-text"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body" style="margin-top: 10px;">
                                <a href="/cindex/indexaddwork" class="stretched-link " ;
                                    style="text-decoration: none; color: rgba(239, 151, 47, 1);;">
                                    <h3 class="card-title" style="text-align: center;">View Work </h3>
                                    <p class="card-text"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body" style="margin-top: 10px;">
                                <a href="/cindex/indexviewprofile" class="stretched-link " ;
                                    style="text-decoration: none; color: rgba(239, 151, 47, 1);;">
                                    <h3 class="card-title" style="text-align: center;">View Profile </h3>
                                    <p class="card-text"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           



           
        </div>
        

</section>