<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <title>contractor index</title>
</head>

<body>
  <div class="container container-1">
    <!-- Navbar contents -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Build It</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="background-color:white">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">Profile</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-color" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Landing image -->
    <div class="container container-2">
      <div class="row">
        <div class="bg-image div-1 col-12">
          <a class="top-content" href="#">BUILD IT</a>
          <p class="top-subcontent">BUILD YOUR DREAM HOME</p>
        </div>
      </div>
      <!-- Landing image end -->
      <hr>
      <!-- Contractor activities -->
      <div class="container">
        <div class="row" style="margin: 20px;">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body" style="margin-top: 10px;">
                <a href="#" class="stretched-link" style="text-decoration: none; color: rgba(239, 151, 47, 1);">
                  <h3 class="card-title text-center">Request</h3>
                  <p class="card-text"></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body" style="margin-top: 10px;">
                <a href="#" class="stretched-link" style="text-decoration: none; color: rgba(239, 151, 47, 1);">
                  <h3 class="card-title text-center">View Worker</h3>
                  <p class="card-text"></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body" style="margin-top: 10px;">
                <a href="#" class="stretched-link" style="text-decoration: none; color: rgba(239, 151, 47, 1);">
                  <h3 class="card-title text-center">View Work</h3>
                  <p class="card-text"></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body" style="margin-top: 10px;">
                <a href="#" class="stretched-link" style="text-decoration: none; color: rgba(239, 151, 47, 1);">
                  <h3 class="card-title text-center">View Profile</h3>
                  <p class="card-text"></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
</body>

</html>
