 <form action="/c/addworker" method="POST" enctype="multipart/form-data">

<a href="/c/viewworker" class="btn btn-success mt-5">view worker</a>
<a href="/c/csignup" class="btn btn-success mt-5">signup</a>

 <button type="submit" class="btn btn-success mt-5">add worker</button>
 </form>